<% if @recipe.errors %>
  <%= @recipe.errors[:message] %>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <h1><%= @recipe.title %></h1>

    </div>
  </div>

  <div class="Recipe">
    <div class="row">
      <div class="col-xs-6">
        <%= image_tag @recipe.logo, class: 'Recipe-image img-responsive' %>
          <i class="Icon Icon--default Icon-clock"></i> <%= @recipe.title %>
        </div>
      </div>
    </div>

  
  </div>
<% end %>
