<body>
  
  <div id="container">
    <div id="cat">
      <div>
      </div>
    </div>
  
    <div id="speech">Gâu Gâu
      <li></li>
      <div>
      </div>
    </div>
  </div>
    <h1 class="text">DateNow API v1</p>
    <p class="text fs">https://date-now.herokuapp.com/deals</p>
    <p class="text fs">:id, :title, :avatar, :logo, :percent, :point, :locations[:lat, :lon]</p>
    <hr/> 
    <p class="text fs">https://date-now.herokuapp.com/deals/:id</p>
    <p class="text fs">:id, :title, :type, :province, :point, :avatar, :logo, :percent, :unit</p>
    <hr/> 
    <p class="text fs">https://date-now.herokuapp.com/places/</p>
    <p class="text fs">:id, :name, :avatar, :address, :districId, :districName</p>
    <hr/> 
    <p class="text fs">https://date-now.herokuapp.com/places/:id</p>
    <p class="text fs">:id, :name, :avatar, :address, :districId, :districName, :countCheckin, :lat, :lon</p>
    <hr/> 
</body>
